
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<hr />
<div>
    @using (Html.BeginForm())
    {
        <label>Username</label>
            <input type="text" name="Username" class="form-control" value="" />
        <label>Password</label>
            <input type="password" name="Password" class="form-control" value="" />
           <br />
        <input type="submit" name="submit" class="btn btn-success" value="Save" />
    }
    

</div>
