
@{
    ViewBag.Title = "Index";
}

<h2>List of Users</h2>
<hr />
<div class="row">
    <div class="col-lg-6">
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Action</th>
            </tr>
        </table>
    </div>
</div>
